

li {
  display: inline;
}

div.relative {
  position: relative;
  left: 30px;
  border: 3px solid #73AD21;
}

img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  float: left;
}

.container {
  position: relative;
}

.black-box {
  position: relative;
  z-index: 1;
  border: 2px solid black;
  height: 100px;
  margin: 30px;
}

.gray-box {
  position: absolute;
  z-index: 3;
  background: lightgray;
  height: 60px;
  width: 70%;
  left: 50px;
  top: 50px;
}

.green-box {
  position: absolute;
  z-index: 2;
  background: lightgreen;
  width: 35%;
  left: 270px;
  top: -15px;
  height: 100px;
}

div {
  height:100px;
  overflow: scroll;
}

pre::first-line {
  color: #ff0000;
  font-variant: small-caps;
}